html, body {
    height: 100%;
}
body {
    text-align: center;
}
.btn1 {
    font-size: 20px;
}
.hot-pink {
    background-color: hotpink;
}
.kotak-merah {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    background-color: red;
}
.kotak-hijau {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    background-color: green;
}
.kotak-biru {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    background-color: blue;
}